

<div class="card mb-4">
    <div class="card-body">
       
      <input type="text" [value]="passObj.fullname" 
        [disabled]="!isEditable"
      class="form-control mb-3 " #fname>

        <p>
            Check In Date : {{passObj.checkInDate?(passObj.checkInDate | date):"notcheckIn"}}
        </p>
        <p>
            Children : {{passObj.children?passObj.children.length:0 }}
        </p>
        <p>
          
            <button mat-raised-button color="primary" *ngIf="!isEditable" (click)="onEdit()">Edit</button>

            <button mat-raised-button color="primary" *ngIf="isEditable" (click)="onDone(fname.value)">Done</button>

            <button mat-raised-button color="warn"  (click)="onRemove()">Remove</button>
          

        </p>
    </div>
</div>
